:root {
  /* Colors */
  --gradientBg: linear-gradient(
    150deg,
    rgba(217, 70, 239, 1) 0%,
    rgba(168, 85, 247, 1) 19%,
    rgba(110, 42, 218, 1) 51%,
    rgba(139, 92, 246, 1) 90%
  );
  --calculatorColor: #f0f0f0c3;
  --white: #e7e5e4;
  --gray: #c5b9d2;
  --buttonsBg: #363c49a4;
  --specialButtonBg: #1a2c566b;
  --AC-Bg: #327f6296;

  /* Values */
  --rightSpacing-num: 1.2rem;
  --topSpacing-num1: 1.5rem;
  --topSpacing-num2: 1rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradientBg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#calculator {
  min-width: 300px;
  width: 25vw;
  height: 80vh;
  background-color: var(--calculatorColor);
  backdrop-filter: blur(30px);
  border-radius: 0.45rem;
}
#calculator input {
  width: calc(100% - var(--rightSpacing-num));
  padding: 0 var(--rightSpacing-num) 0 0;
  border: none;
  outline: none;
  background: none;
  caret-color: transparent;
  color: var(--white);
  text-align: end;
}
#inputs {
  height: 27%;
}
input#result {
  height: 20%;
  padding-top: var(--topSpacing-num1);
  color: var(--gray);
  font-size: 1.2rem;
}
input#userInput {
  height: 30%;
  padding-top: var(--topSpacing-num2);
  font-size: 2.75rem;
}
#dragButton {
  height: 0.17rem;
  width: 2rem;
  position: relative;
  left: calc(50% - 2rem / 2);
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  cursor: row-resize;
}
#buttons {
  height: 73%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, calc(100% / 4));
  grid-template-rows: repeat(5, calc(100% / 5));
  user-select: none;
}
.buttonClass {
  width: 97%;
  height: 97%;
  background-color: var(--buttonsBg);
  backdrop-filter: blur(30px);
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white);
  transition: 200ms all ease;
  font-size: 1.3rem;
}
.buttonClass:hover {
  filter: brightness(1.3);
}
.specialButton {
  background-color: var(--specialButtonBg);
  backdrop-filter: blur(30px);
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
#AC {
  background-color: var(--AC-Bg);
}
.specialButton__fontPlus {
  font-size: 1.5rem;
}
